[Unit]
Description=AmneziaWG tunnel %i
Documentation=https://github.com/amnezia-vpn/amneziawg-go
After=network-online.target nss-lookup.target
Wants=network-online.target
ConditionPathExists=/etc/amneziawg/%i.conf

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=WG_QUICK_USERSPACE_IMPLEMENTATION=/usr/bin/amneziawg-go
ExecStart=/usr/libexec/amneziawg-linux-gui-helper service-up %i
ExecStop=/usr/libexec/amneziawg-linux-gui-helper service-down %i
TimeoutStartSec=120
TimeoutStopSec=180
UMask=0077

[Install]
WantedBy=multi-user.target
